{% extends "default.html" %}
{% load static %}
{% block content %}
<!--begin::Content-->
<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
   <!--begin::Subheader-->
   <div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
      <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
         <!--begin::Info-->
         <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline flex-wrap mr-5">
               <!--begin::Page Title-->
               <h5 class="text-dark font-weight-bold my-1 mr-5">
                  View {{model_name_singular}}
               </h5>
               <!--end::Page Title-->
               <!--begin::Breadcrumb-->
               <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                  <li class="breadcrumb-item">
                     <a href="{% url 'dashboard.index' %}" class="text-muted">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item">
                     <a href="{% url 'users.index' %}" class="text-muted">{{model_name_plural}}</a>
                  </li>
               </ul>
               <!--end::Breadcrumb-->
            </div>
            <!--end::Page Heading-->
         </div>
         <!--end::Info-->
      </div>
   </div>
   <!--end::Subheader-->
   <!--begin::Entry-->
   <div class="d-flex flex-column-fluid">
      <!--begin::Container-->
      <div class=" container ">
         <div class="card card-custom gutter-b">
            <!--begin::Header-->
            <div class="card-header card-header-tabs-line">
               <div class="card-toolbar">
                  <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-bold nav-tabs-line-3x" role="tablist">
                     <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_apps_contacts_view_tab_1">
                           <span class="nav-text">
                              {{model_name_singular}} Information
                           </span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body px-0">
               <div class="tab-content px-10">
                  <!--begin::Tab Content-->
                  <div class="tab-pane active" id="kt_apps_contacts_view_tab_1" role="tabpanel">
                     <div class="form-group row my-2">
                        <label class="col-4 col-form-label">User Name :</label>
                        <div class="col-8">
                           <span class="form-control-plaintext font-weight-bolder">{{user_data.username | title}}</span>
                        </div>
                     </div>
                     <div class="form-group row my-2">
                        <label class="col-4 col-form-label">Name :</label>
                        <div class="col-8">
                           
                           <span class="form-control-plaintext font-weight-bolder">{{user_data.first_name | title}}
                              {{user_data.last_name | title}}</span>
                        </div>
                     </div>
                     <div class="form-group row my-2">
                        <label class="col-4 col-form-label">Email :</label>
                        <div class="col-8">
                           <span class="form-control-plaintext font-weight-bolder">{{user_data.email}}</span>
                        </div>
                     </div>
                     <div class="form-group row my-2">
                        <label class="col-4 col-form-label">Phone Number :</label>
                        <div class="col-8">
                           <span class="form-control-plaintext font-weight-bolder">{{user_data.mobile_number}}</span>
                        </div>
                     </div>

                     <div class="form-group row my-2">
                        <label class="col-4 col-form-label">Registered On :</label>
                        <div class="col-8">
                           <span class="form-control-plaintext font-weight-bolder">
                              {{user_data.created_at |date:"m-d-Y"}}</span>
                        </div>
                     </div>
                     <div class="form-group row my-2">
                        <label class="col-4 col-form-label">Status :</label>
                        <div class="col-8">
                           <span class="form-control-plaintext font-weight-bolder">
                              {% if user_data.is_active %}
                                 <span class="label label-lg label-light-success label-inline">Activated</span>
                              {% else %}
                                 <span class="label label-lg label-light-danger label-inline">Deactivated</span>
                              {% endif %}
                           </span>
                        </div>
                     </div>
                     
                  </div>
                  <!--End::Tab Content-->
                  <!--begin::Tab Content-->
                  
                  <!--end::Tab Content-->
               </div>
            </div>
            <!--end::Body-->
         </div>
      </div>
      <!--end::Container-->
   </div>
   <!--end::Entry-->
</div>
<!--end::Content-->
{% endblock %}