{% extends "base_login.html" %}
{% load static %}
{% block content %}
<!--begin::Content-->
<div class="d-flex flex-column flex-root">
    <div class="login login-4 wizard d-flex flex-column flex-lg-row flex-column-fluid">
        <div class="login-container d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid p-8">
            <!--begin::Wrapper-->
            <div class="login-content d-flex flex-column card p-5 p-md-10">
                <!--begin::Logo-->
                <a href="{% url  'login' %}" class="login-logo pb-8 text-center">
                    <img src="{% static 'img/logo.png' %}" class="max-h-80px" alt="" />
                </a>
                <!--end::Logo-->
                <!--begin::Signin-->
                <div class="login-form">
                    <!--begin::Form-->
                    <!--begin::Title-->
                    <form class="form" id="kt_login_singin_form" autocomplete="off" method="POST" action="{% url 'login.forgot_password' %}">
                        {% csrf_token %}
                        <div class="mb-12 text-center">
                            <h3 class="font-weight-bold text-dark">Forgot Password</h3>
                            <p>Enter your email to reset your password.</p>
                        </div>
                        <!--begin::Title-->
                        <!--begin::Form group-->
                        {% for field in form %}
                            <div class="form-group">
                                <label class="font-size-h6 font-weight-bolder text-dark">{{field.label}}</label>
                                {{field}}
                                <div class="invalid-feedback">{{field.errors.as_text | cut:"* "}}</div>
                            </div>
                        {% endfor %}
                        <!--end::Form group-->
                        <!--begin::Action-->
                        <div class="text-center">
                            <a href="javascript:void(0);" id="kt_login_submit"
                                class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Submit
                            </a>
                            <a href="{% url 'login' %}"
                                class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Back To
                                Login
                            </a>
                        </div>
                        <!--end::Action-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Signin-->
            </div>
            <!--end::Wrapper-->
        </div>
    </div>
</div>

<!--begin::Content-->

<!--end::Main-->
<script>
    jQuery(document).ready(function () {
        $('input').keypress(function (e) {
            if (e.which == 13) {
                $("#kt_login_singin_form").submit();
            }
        });

        $("#kt_login_submit").click(function (e) {
            $("#kt_login_singin_form").submit();
        });
    });
</script>
{% endblock %}