{% extends "default.html" %}
{% load static %}
{% load site_tags %}
{% block content %}

{% get_segment3 segment3 request.path_info %}
<!--begin::Content-->
<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Subheader-->
	<div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
		<div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
			<!--begin::Info-->
			<div class="d-flex align-items-center flex-wrap mr-1">
				<!--begin::Page Heading-->
				<div class="d-flex align-items-baseline flex-wrap mr-5">
					<!--begin::Page Title-->
					<h5 class="text-dark font-weight-bold my-1 mr-5">
						{{segment3|title}} Setting
					</h5>
					<!--end::Page Title-->
					<!--begin::Breadcrumb-->
					<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
						<li class="breadcrumb-item">
							<a href="{% url 'dashboard.index' %}" class="text-muted">
								Dashboard
							</a>
						</li>
					</ul>
					<!--end::Breadcrumb-->
				</div>
				<!--end::Page Heading-->
			</div>
			<!--end::Info-->
		</div>
	</div>
	<!--end::Subheader-->
	<!--begin::Entry-->
	<div class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class=" container ">
			<form class="mws-form" action="{% url 'settings.prefix' key %}" autocomplete="off" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-xl-1"></div>
							<div class="col-xl-10">
								<h3 class="mb-10 font-weight-bold text-dark"></h3>
								<div class="row">
									{% if results %}
										{% for result in results %}
											{% if result.input_type == 'checkbox' %}
												<div class="col-xl-6">
													<div class="form-group">
														<label style="width:300px;">{{result.title}}</label>
														<div class="mws-form-item clearfix">
															<div class="col-auto">
																<span class="switch switch-outline switch-icon switch-primary">
																	<label>
																		<input type="checkbox" class="form-control-lg" value="{{result.value}}" name="{{result.key}}"  {% if result.editable == 0 %} disabled {% endif %} />
																		<span></span>
																	</label>
																</span>
															</div>
														</div>
													</div>
												</div>

											{% elif result.input_type == 'radio' %}
												<div class="col-xl-6">
													<div class="form-group">
														<label style="width:300px;">{{result.title}}</label>
														<div class="mws-form-item clearfix">
															<ul class="mws-form-list inline">
																<input type="radio" class="form-control-lg" value="{{result.value}}" name="{{result.key}}" {% if result.editable == 0 %} disabled {% endif %} />
															</ul>
														</div>
													</div>
												</div>

											{% elif result.input_type == 'file' %}
												<div class="col-xl-6">
													<div class="form-group">
														<label>{{result.title}}</label>
														{% if result.editable == 1 %}
															<input type="file" name="{{result.key}}" class = "form-control form-control-solid form-control-lg" value="{{result.value}}" {% if result.editable == 0 %} disabled {% endif %}/>
														{% endif %}
														{% if result.value %}
															<div class="image_box">
																<a class="fancybox-buttons" data-fancybox-group="button" href="{{result.value}}">
																	<img height="100" width="100" accept="image/*"  src="{{result.value}}"/>
																</a>
																{% comment %}
																	<a href="javascript:void(0);" onclick="removeProfilePhoto(this,'{{result.id}}');" class="btn btn-danger " title="delete">
																		<span class="fa fa-times"></span>
																	</a>
																{% endcomment %}
															</div>
														{% endif %}
													</div>
												</div>
											{% elif result.input_type == 'textarea' %}
												<div class="col-xl-6">
													<div class="form-group">
														<label>{{result.title |truncatechars:50}}</label>
														<textarea class="form-control form-control-solid form-control-lg  textarea_resize"
															name="{{result.key}}" rows="3" cols="3"
															{% if result.editable == 0 %} disabled {% endif %}>
															{{result.value}}
														</textarea>
													</div>
												</div>
											{% elif result.input_type == 'select' %}
												<div class="col-xl-6">
													{% if result.key == 'Reading.date_format' %}
														<div class="form-group">
															<label>{{result.title}}</label>
															<select name="{{result.key}}" class="form-control form-control-solid form-control-lg">
																<option value="%d-%m-%Y" {% if result.value == "%d-%m-%Y" %} selected {% endif %}>{% now "d-m-Y" %}</option>
																<option value="%Y-%m-%d" {% if result.value == "%Y-%m-%d" %} selected {% endif %}>{% now "Y-m-d" %}</option>
																<option value="%m-%d-%Y" {% if result.value == "%m-%d-%Y" %} selected {% endif %}>{% now "m-d-Y" %}</option>
															</select>
														</div>
													{% elif result.key == 'Reading.records_per_page' %}
														<div class="form-group">
															<label>{{result.title}}</label>
															<select name="{{result.key}}" class="form-control form-control-solid form-control-lg">
																<option value="10" {% if result.value == "10" %} selected {% endif %}>10</option>
																<option value="25" {% if result.value == "25" %} selected {% endif %}>25</option>
																<option value="50" {% if result.value == "50" %} selected {% endif %}>50</option>
																<option value="100" {% if result.value == "100" %} selected {% endif %}>100</option>
																<option value="500" {% if result.value == "500" %} selected {% endif %}>500</option>
																<option value="1000" {% if result.value == "1000" %} selected {% endif %}>1000</option>
															</select>
														</div>
													{% elif result.key == 'Reading.date_time_format' %}
														<label>{{result.title}}</label>
														<select name="{{result.key}}" class="form-control form-control-solid form-control-lg">
															<option value="%d-%m-%Y %I:%M %p"{% if result.value == "%d-%m-%Y %I:%M %p" %} selected {% endif %}>{% now "d-m-Y h:i A" %}</option>
															<option value="%Y-%m-%d %I:%M %p" {% if result.value == "%Y-%m-%d %I:%M %p" %} selected {% endif %}>{% now "Y-m-d h:i A" %}</option>
															<option value="%m-%d-%Y %I:%M %p" {% if result.value == "%m-%d-%Y %I:%M %p" %} selected {% endif %}>{% now "m-d-Y h:i A" %}</option>
														</select>
													{% else %}
														<label>{{result.title}}</label>
														<select name="{{result.key}}" class="form-control form-control-solid form-control-lg">
															<option value={{result.value}}>{{result.value}}</option>
														</select>
													{% endif %}
												</div>
											{% elif result.input_type == 'text' %}
												<div class="col-xl-6">
													<div class="form-group">
														<label>{{result.title}}</label>
														<input type='text' name = "{{result.key}}" value = "{{result.value}}" class = "form-control form-control-solid form-control-lg " {% if result.editable == 0 %} disabled {% endif %}  >
													</div>
												</div>
											{% endif %}
										{% endfor %}
									{% endif %}
								</div>
								<div class="d-flex justify-content-between border-top mt-5 pt-10">
									<div>
										<input type="button" onclick="submit_form();" value="Submit"
											class="btn btn-success font-weight-bold text-uppercase px-9 py-4">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">

	$(document).ready(function(){
		setValues()
		$('input[type=radio]').change(function(e){
			let v = $(this).prop('checked')
			let name = e.target.name
			$('input:radio[name="'+name+'"]').val('0')
			if(v){
				$(this).val('1')
			}
		})
	});

	function setValues(){
		$('input:checkbox[value="0"]').prop('checked', false);
		$('input:checkbox[value="1"]').prop('checked', true);
		$('input:radio[value="0"]').prop('checked', false);
		$('input:radio[value="1"]').prop('checked', true);
	}

	function isEmail(email) {
		var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		return regex.test(email);
	}

	var empty_msg = 'This field is required';
	var numuric_empty_msg = 'This field is allow only numuric value';
	var image_validation = 'Please upload a valid image. Valid extensions are jpg, jpeg, png, jpeg';
	var allowedExtensions = ['gif', 'GIF', 'jpeg', 'JPEG', 'PNG', 'png', 'jpg', 'JPG'];
	function submit_form() {
		var $inputs = $('.mws-form :input.valid');
		var error = 0;
		$inputs.each(function () {
			if ($(this).val().trim() == '') {
				$(this).next().html(empty_msg);
				error = 1;
			} else {
				if ($(this).attr('id') == 'Site.email') {
					if (!isEmail($(this).val().trim())) {
						$(this).next().html("Please enter a valid email");
						error = 1;
					} else {
						$(this).next().html("");
					}
				} else if ($(this).attr('id') == 'Reading.records_per_page') {
					if (!$.isNumeric($(this).val().trim())) {
						$(this).next().html(numuric_empty_msg);
						error = 1;
					} else {
						$(this).next().html("");
					}
				} else {
					$(this).next().html("");
				}
			}
		});
		if (error == 0) {
			$('.mws-form').submit();
		}
	}
	$('#settingsForm').each(function () {
		$(this).find('input').keypress(function (e) {
			if (e.which == 10 || e.which == 13) {
				submit_form();
				return false;
			}
		});
	});
</script>
{% endblock %}
