<script>
    $(document).ready(function(){
        var totalDoc = $('#hospital_docs_id').val()
        console.info(totalDoc)
        totalDoc = parseInt(totalDoc)
        for(let i=0; i<totalDoc; i++){
            let docIndex = i+1
            var docCharges = $('#hospital_doc_charge_'+i).val()
            docCharges = parseInt(docCharges)
            deleteDoctor(docIndex)
            if(docCharges==0){
                addMoreCharge(i, 0)
            }else{
                for(let j=0; j<docCharges; j++){
                    let chargeIndex = j+1
                    if(j==0){
                        addMoreCharge(i, j)
                    }
                    deleteCharge(i, j)
                }
            }
        }

    })

    function addMoreDoc(index){
        var index = $(".doctor-row").last().attr('data-id')
        var nextIndex = parseInt(index) + 1;
        $.ajax({
            url: "{% url 'diagnostic_management.add_more_doctors' %}",
            type: "post",
            data: {
                'id': nextIndex,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function (response) {
                var data_body = response.body
                $(".doctor-section").append(data_body);
                addMoreCharge(nextIndex, 0)
                deleteDoctor(nextIndex)
            },
        });
    }

    function addMoreCharge(docIndex, index){
        var index = index
        var docIndex = docIndex
        $('.add-more-charge-'+docIndex+'-'+index).click(function(){
            var lastIndex = $(".charge-"+docIndex).last().attr('data-id')
            var nextIndex = parseInt(lastIndex) + 1;
            $.ajax({
                url: "{% url 'diagnostic_management.add_more_charge' %}",
                type: "post",
                data: {
                    'id': nextIndex,
                    'docIndex': docIndex,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (response) {
                    var data_body = response.body
                    $(".charge-section-"+docIndex).append(data_body);
                    deleteCharge(docIndex, nextIndex)
                },
            });
        })
    }

    function deleteDoctor(index){
        console.info("deleteDoctor ---> ", index)
        var index = index
        $('.delete-doctor-'+index).click(function(){
            Swal.fire({
                title: "Are you sure?",
                text: "Want to remove it ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, remove it",
                cancelButtonText: "No, cancel",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    $('.delete-doc-' + index).remove();
                }
            });
        })
    }

    function deleteCharge(docIndex, index){
        console.info("deleteCharge ---> ", docIndex, index)
        var index = index
        var docIndex = docIndex
        $('.delete-charge-'+docIndex+'-'+index).click(function(){
            Swal.fire({
                title: "Are you sure?",
                text: "Want to remove it ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, remove it",
                cancelButtonText: "No, cancel",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    $('.charge-row-'+docIndex+'-'+index).remove();
                }
            });
        })
    }
</script>