<tr class="panel panel-default delete_add_more_accor_{index}" rel="0">
  <td>
    <div class="mws-form-item">
      <input
        data-rel="0"
        class="form-control"
        name="name-{index}"
        type="text"
        value=""
      />
    </div>
  </td>
  <td>
    <div class="mws-form-item">
      <input
        data-rel="0"
        class="form-control"
        name="function_name-{index}"
        type="text"
        value=""
      />
    </div>
  </td>
  <td>
    <a
      href="javascript:void(0);"
      onclick="del_row('{index}');"
      class="btn btn-danger btn-small"
    >
      <i class="fa fa-trash"></i>
    </a>
  </td>
</tr>
